Package: plasmamenufork
Version: 1.0.1-1big1
Depends: plasma-widgets-addons
Architecture: all
Maintainer: Bruno Goncalves <bigbruno@gmail.com>
Section: admin
Priority: optional
Installed-Size:424
Description: Two menu launcher based in full screen official KDE launcher, simple and super simple


