Package: plasmamenufork
Version: 1.0.0-1big2
Depends: plasma-widgets-addons
Architecture: all
Maintainer: Bruno Goncalves <bigbruno@gmail.com>
Section: admin
Priority: optional
Installed-Size:432
Description: Two menu launcher based in full screen official KDE launcher, simple and super simple


